<h2>Products</h2>

<div *ngFor="let product of products">
    <h3>
        <!-- The RouterLink directive helps you customize the anchor element. 
        In this case, the route, or URL, contains one fixed segment, /products. 
        The final segment is variable, inserting the id property of the current product. 
        For example, the URL for a product with an id of 1 would be similar to 
        https://getting-started-myfork.stackblitz.io/products/1. -->
        <a [title]="product.name + ' details'" [routerLink]="['/products', product.id]">
            {{ product.name }}
        </a>
    </h3>
    <p *ngIf="product.description">
        Description: {{ product.description }}
    </p>
    <button type="button" (click)="share()">
        Share
    </button>

    <!-- to display ProductAlertsComponent as a child of ProductListComponent -->
    <!-- bind <app-product-alerts> to the onNotify() method of the product list component. -->
    <app-product-alerts [product]="product" (notify)="onNotify()">
    </app-product-alerts>
</div>